include _mixins

doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Template
    //meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=1280")
    meta(name="viewport" content="initial-scale=2, user-scalable=no")
    block css
      link(rel="stylesheet" media="all" href="screen.css")
  block body