.tutorial.js-tutorial
	.tutorial__in
		img(src='img/2/instruction.png')
		.s2__nav.js-nav
			.s2__nav-link.is-active
				.s2__nav-link-text Навигация
			.s2__nav-link
				.s2__nav-link-text Контент
			.s2__nav-link
				.s2__nav-link-text Подсказки
		.s2__tab.is-active.js-tab(data-index='1')
			img.s2__img(src='img/2/slide-1.png')
		.s2__tab.js-tab(data-index='2')
			img.s2__img(src='img/2/slide-2.png')
		.s2__tab.js-tab(data-index='3')
			img.s2__img(src='img/2/slide-3.png')