extend includes/_layout
block title
	title 4
block body
	body.s4
		.wrapper
			.wrapper__in
				.text-left
					img(src='img/4/text.png')
				.s4__controls.text-left
					.s4__btn.btn.btn_blue ПЕРВЫЙ ВИЗИТ
					.s4__btn.btn.btn_blue ВТОРОЙ ВИЗИТ
	block js
		script(src="app.js")