extend includes/_layout
block title
	title 14
block body
	body.s14
		canvas.canvas
		.s14__wrapper.wrapper
			.wrapper__in
				.s14__send.text-center
					.s14__btn
						+i('send')
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
					.s14__send-text Написать нам
	block js
		script(src="app.js")