extend includes/_layout
block title
	title 14
block tooltip
block body
	body.s14#s14(data-next-slide='two.html' data-prev-slide='thirteen.html')
		canvas.canvas
		include includes/_tutorial
		include includes/_header
		.s14__wrapper.wrapper
			.wrapper__in
				.s14__send.text-center
					.s14__btn
						+i('send')
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
						.s14__btn-in
					.s14__send-text Написать нам
		include includes/_footer
	block js
		script(src="app.js")
		script.
			$('.js-header, .js-footer').addClass('is-white');