extend includes/_layout
block counterValue
	-var counterValue = '7'
block title
	title 9
block tooltip
block body
	body.s9
		include includes/_tutorial
		include includes/_header
		.s9__wrapper.wrapper
			.wrapper__in

		include includes/_footer
	block js
		script(src="app.js")