extend includes/_layout
block title
	title 9
block tooltip
block body
	body.s9
		include includes/_tutorial
		include includes/_header
		.s14__wrapper.wrapper
			.wrapper__in
				#spinner1.s9__spinner.spinner
					strong.spinner__text
					img.s9__img(src='img/9/1.png' srcset='img/9/1@2x.png 2x')
				#spinner2.s9__spinner.spinner
					strong.spinner__text
					img.s9__img(src='img/9/2.png' srcset='img/9/2@2x.png 2x')
				#spinner3.s9__spinner.spinner
					strong.spinner__text
					img.s9__img(src='img/9/3.png' srcset='img/9/3@2x.png 2x')
				#spinner4.s9__spinner.spinner
					strong.spinner__text
					img.s9__img(src='img/9/4.png' srcset='img/9/4@2x.png 2x')
		include includes/_footer
	block js
		script(src="app.js")