extend includes/_layout
block counterValue
	-var counterValue = '5'
block tooltip
block title
	title 7
block body
	body.s7#s7(data-next-slide='eight.html' data-prev-slide='six.html')
		include includes/_tutorial
		include includes/_header
		.s7__wrapper.wrapper
			.wrapper__in
				.s7__nav.js-7-nav
					.row
						img.s7__title(src='img/7/title.png' srcset='img/7/title@2x.png 2x')
					.row
						img.s7__subtitle(src='img/7/subtitle.png' srcset='img/7/subtitle@2x.png 2x')
					.row
						.col.js-7-nav-btn
							.s7__box
								img.s7__box-img(src='img/7/1.png' srcset='img/7/1@2x.png 2x')
						.col.js-7-nav-btn
							.s7__box
								img.s7__box-img(src='img/7/2.png' srcset='img/7/2@2x.png 2x')
				.s7__tab.js-7-tab(data-index='1')
					img.s7__tab-img(src='img/7/2-1.png' srcset='img/7/2-1@2x.png 2x')
					img.s7__tab-text(src='img/7/text-1.png' srcset='img/7/text-1@2x.png 2x')
					.s7__back.js-7-back Сменить портрет
					//begin pulse
					.s7__pulse.pulse.js-7-pulse
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
					//end pulse
				.s7__tab.js-7-tab(data-index='2')
					img.s7__tab-img(src='img/7/2-2.png' srcset='img/7/2-2@2x.png 2x')
					img.s7__tab-text(src='img/7/text-2.png' srcset='img/7/text-2@2x.png 2x')
					.s7__back.js-7-back Сменить портрет
					//begin pulse
					.s7__pulse.pulse.js-7-pulse
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-1-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-2-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-3-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-4-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
						.pulse__icon
							+i('pulse-5-original')
					//end pulse
		include includes/_footer
	block js
		script(src="app.js")