extend includes/_layout
block title
	title 6
block body
	body.s6
		.wrapper
			.s6__wrapper-in.wrapper__in
				img.s6__title.js-6-title(src='img/6/title.png' srcset='img/6/title@2x.png 2x')
				.s6__slider.js-6-slider
					.s6__slider-item
						img.s6__slider-img(src='img/6/1.png' srcset='img/6/1@2x.png 2x')
					.s6__slider-item
						img.s6__slider-img(src='img/6/2.png' srcset='img/6/2@2x.png 2x')
					.s6__slider-item
						img.s6__slider-img(src='img/6/3.png' srcset='img/6/3@2x.png 2x')
					.s6__slider-item
						img.s6__slider-img(src='img/6/4.png' srcset='img/6/4@2x.png 2x')
					.s6__slider-item
						img.s6__slider-img(src='img/6/5.png' srcset='img/6/5@2x.png 2x')
					.s6__slider-item
						img.s6__slider-img(src='img/6/6.png' srcset='img/6/6@2x.png 2x')
				.s6__range.js-6-range
	block js
		script(src="app.js")