extend includes/_layout
block title
	title 13
block tooltip
block body
	body.s13#s13(data-next-slide='fourteen.html' data-prev-slide='twelve.html')
		.container
			canvas.canvas
			include includes/_tutorial
			include includes/_header
			.s13__wrapper.wrapper
				.wrapper__in
			include includes/_footer
	block js
		script(src="app.js")
		script.
			$(document).ready(function () {
				$('.js-header, .js-footer').addClass('is-white');
				/* Slide 13 */
				(function () {

					disableSwipe();

					$('body.s13').on('swipeleft', function () {
						Android.openSlide($('body.s13').attr('data-next-slide'));
					});
					$('body.s13').on('swiperight', function () {
						Android.openSlide($('body.s13').attr('data-prev-slide'));
					});
				})();
			});