extend includes/_layout
block title
	title 13
block tooltip
block body
	body.s13#s13(data-next-slide='fourteen.html' data-prev-slide='twelve.html')
		canvas.canvas
		include includes/_tutorial
		include includes/_header
		.s13__wrapper.wrapper
			.wrapper__in
		include includes/_footer
	block js
		script(src="app.js")
		script.
			$('.js-header, .js-footer').addClass('is-white');