extend includes/_layout
block counterValue
	-var counterValue = '1'
block tooltip
block title
	title 3
block body
	body.s3#s3(data-next-slide='four.html' data-prev-slide='two.html')
		.container
			.back.js-back
				+i('back')
			include includes/_tutorial
			include includes/_header
			.s3__tooltip.tooltip.js-3-tooltip(data-index='1')
				img.tooltip__img(src='img/3/1.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='2')
				img.tooltip__img(src='img/3/2.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='3')
				img.tooltip__img(src='img/3/3.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='4')
				img.tooltip__img(src='img/3/4.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='5')
				img.tooltip__img(src='img/3/5.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='6')
				img.tooltip__img(src='img/3/6.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='7')
				img.tooltip__img(src='img/3/7.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='8')
				img.tooltip__img(src='img/3/8.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='9')
				img.tooltip__img(src='img/3/9.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='10')
				img.tooltip__img(src='img/3/10.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='11')
				img.tooltip__img(src='img/3/11.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='12')
				img.tooltip__img(src='img/3/12.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='13')
				img.tooltip__img(src='img/3/13.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='14')
				img.tooltip__img(src='img/3/14.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='15')
				img.tooltip__img(src='img/3/15.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='16')
				img.tooltip__img(src='img/3/16.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='17')
				img.tooltip__img(src='img/3/17.png')
			.s3__tooltip.tooltip.js-3-tooltip(data-index='18')
				img.tooltip__img(src='img/3/18.png')
			.s3__nav.js-3-nav
			.s3__arrows.js-3-arrows
			#particles-js.s3__canvas
			.s3__wrapper.wrapper
				.s3__row.wrapper__in
					.s3__col
						img.s3__for-text(src='img/3/text.png' srcset='img/3/text@2x.png 2x')
					.s3__col
						.s3__for.js-3-for
							.s3__for-item
								img.s3__for-logo(src='img/3/logo-1.png' srcset='img/3/logo-1@2x.png 2x')
								.s3__btn-1.plus-btn.js-plus-btn.js-3-btn(data-index='1')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-2.plus-btn.js-plus-btn.js-3-btn(data-index='2')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-3.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='3')
									.plus-btn__text.plus-btn__text_plus
							.s3__for-item
								img.s3__for-logo(src='img/3/logo-2.png' srcset='img/3/logo-2@2x.png 2x')
								.s3__btn-4.plus-btn.js-plus-btn.js-3-btn(data-index='4')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-5.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='5')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-6.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='6')
									.plus-btn__text.plus-btn__text_plus
							.s3__for-item
								img.s3__for-logo(src='img/3/logo-3.png' srcset='img/3/logo-3@2x.png 2x')
								.s3__btn-7.plus-btn.js-plus-btn.js-3-btn(data-index='7')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-8.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='8')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-9.plus-btn.js-plus-btn.js-3-btn(data-index='9')
									.plus-btn__text.plus-btn__text_plus
							.s3__for-item
								img.s3__for-logo(src='img/3/logo-4.png' srcset='img/3/logo-4@2x.png 2x')
								.s3__btn-10.plus-btn.js-plus-btn.js-3-btn(data-index='10')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-11.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='11')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-12.plus-btn.js-plus-btn.js-3-btn(data-index='12')
									.plus-btn__text.plus-btn__text_plus
							.s3__for-item
								img.s3__for-logo(src='img/3/logo-5.png' srcset='img/3/logo-5@2x.png 2x')
								.s3__btn-13.plus-btn.js-plus-btn.js-3-btn(data-index='13')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-14.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='14')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-15.plus-btn.js-plus-btn.js-3-btn(data-index='15')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-16.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='16')
									.plus-btn__text.plus-btn__text_plus
							.s3__for-item
								img.s3__for-logo(src='img/3/logo-6.png' srcset='img/3/logo-6@2x.png 2x')
								.s3__btn-17.plus-btn.is-left.js-plus-btn.js-3-btn(data-index='17')
									.plus-btn__text.plus-btn__text_plus
								.s3__btn-18.plus-btn.js-plus-btn.js-3-btn(data-index='18')
									.plus-btn__text.plus-btn__text_plus
			include includes/_footer
	block js
		script(src="app.js")
		script.
			$(document).ready(function () {
				/* Slide 3 */
				(function () {
					var btn = $('.js-3-btn'),
									tooltip = $('.js-3-tooltip');

					disableSwipe();

					$('body.s3').on('swipeleft', function () {
						Android.openSlide($('body.s3').attr('data-next-slide'));
					});
					$('body.s3').on('swiperight', function () {
						Android.openSlide($('body.s3').attr('data-prev-slide'));
					});

					btn.on('click', function () {
						var btnIndex = $(this).attr('data-index'),
										btnXY = {
											x: $(this).offset().left,
											y: $(this).offset().top
										};

						var current = tooltip.filter('[data-index=' + btnIndex + ']');

						if (!current.hasClass('position')) {
							var cloneHeight = current.outerHeight();
							if (!$(this).hasClass('is-left')) {
								current.css({
									'left': btnXY.x + 60,
									'top': btnXY.y - cloneHeight / 2 + 23
								});
							} else {
								current.addClass('is-left');
								current.css({
									'left': btnXY.x - current.width() - 45,
									'top': btnXY.y - cloneHeight / 2 + 23
								});
							}
						}
						if (!current.hasClass('is-active')) {
							current.removeClass('fadeOut').addClass('is-active animated flipInX position');
						} else {
							current.addClass('animated fadeOut').removeClass('is-active flipInX');
						}
					});

					var sliderFor = $('.js-3-for'),
									sliderNav = $('.js-3-nav'),
									names = ['Astellas', 'Bayer', 'Dr. Reddys', 'Zambon', 'Novartis Pharma', 'Janssen'];

					sliderFor.slick({
						slidesToShow: 1,
						slidesToScroll: 1,
						dots: true,
						touchMove: false,
						draggable: false,
						vertical: true,
						verticalSwiping: true,
						customPaging: function (slider, i) {
							return '<div class="s3__nav-icon "></div><div class="s3__nav-text">' + names[i] + '</div>';
						},
						prevArrow: '<div class="s3__prev js-3-prev"><svg class="icon icon-arrow-top"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-arrow-top"></use></svg></div>',
						nextArrow: '<div class="s3__next js-3-next"><svg class="icon icon-arrow-bottom"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-arrow-bottom"></use></svg></div>'
					});

					sliderFor.on('beforeChange', function () {
						var tooltips = $('.js-3-tooltip');

						btn.removeClass('is-minus');
						tooltips.filter('.is-active').addClass('animated bounceOut').removeClass('is-active flipInX');
					});

					var dots = $('.s3 .slick-dots'),
									arrows = $('.js-3-arrows'),
									prev = $('.js-3-prev'),
									next = $('.js-3-next');

					dots.appendTo(sliderNav);
					prev.appendTo(arrows);
					next.appendTo(arrows);

					/* ---- particles.js config ---- */

					if ($('#particles-js').length) {
						particlesJS("particles-js", {
							"particles": {
								"number": {
									"value": 20,
									"density": {
										"enable": true,
										"value_area": 800
									}
								},
								"color": {
									"value": "#adadad"
								},
								"shape": {
									"type": "circle",
									"stroke": {
										"width": 0,
										"color": "#000000"
									},
									"polygon": {
										"nb_sides": 5
									},
									"image": {
										"src": "img/github.svg",
										"width": 100,
										"height": 100
									}
								},
								"opacity": {
									"value": 0.5,
									"random": false,
									"anim": {
										"enable": false,
										"speed": 1,
										"opacity_min": 0.1,
										"sync": false
									}
								},
								"size": {
									"value": 7,
									"random": true,
									"anim": {
										"enable": false,
										"speed": 40,
										"size_min": 0.1,
										"sync": false
									}
								},
								"line_linked": {
									"enable": true,
									"distance": 250,
									"color": "#adadad",
									"opacity": 0.4,
									"width": 1
								},
								"move": {
									"enable": true,
									"speed": 1,
									"direction": "none",
									"random": false,
									"straight": false,
									"out_mode": "out",
									"bounce": false,
									"attract": {
										"enable": false,
										"rotateX": 600,
										"rotateY": 1200
									}
								}
							},
							"interactivity": {
								"detect_on": "canvas",
								"events": {
									"onhover": {
										"enable": true,
										"mode": "grab"
									},
									"onclick": {
										"enable": true,
										"mode": "push"
									},
									"resize": true
								},
								"modes": {
									"grab": {
										"distance": 140,
										"line_linked": {
											"opacity": 1
										}
									},
									"bubble": {
										"distance": 400,
										"size": 40,
										"duration": 2,
										"opacity": 8,
										"speed": 3
									},
									"repulse": {
										"distance": 200,
										"duration": 0.4
									},
									"push": {
										"particles_nb": 4
									},
									"remove": {
										"particles_nb": 2
									}
								}
							},
							"retina_detect": true
						});
					}
				})();
			});